body {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-size:50px;
  font-weight: normal;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: grey;
}

.copyright {
  text-align: right;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

.phone {
  padding-top: 20px;
}
